<header>
  <div class="header-logo">
    <!--トップページへのリンクにしてください-->
    <a href = />なかのさん</a>
  </div>
  <ul class="header-menus">
    <li>
      <!--サービス紹介ページへのリンクにしてください-->
      <a href = '/about'>「なかのさん」とは</a>
    </li>
  </ul>
</header>

<div class="about-main">
  <h2>「なかのさん」とは</h2>
  <p>
    社内SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
</div>