<!--ヘッダーのコードを貼り付けてください-->
<div class="main top-main">
  <div class="top-message">
    <h2>なかのさんで、世界はつながる</h2>
    <p>今の気持ちをつぶやいてみよう！</p>
  </div>
  <div class ="login">
 		<input type = "button" style = 'height: 50px; 
 																		width: 100px;
 																		color:white;
 																		font-size:30px;' 
 					onclick = "location.href = 'posts/index'" value = "Login!">
  </div>
</div>