<!--ヘッダーのコードを貼り付けてください-->
<header>
  <div class="header-logo">
    なかのさん
  </div>
  <ul class="header-menus">
  	<li>
      <a href = '/about'>「なかのさん」とは</a>
    </li>
  </ul>
</header>
<div class="main top-main">
  <div class="top-message">
    <h2>なかのさんで、世界はつながる</h2>
    <p>今の気持ちをつぶやいてみよう！</p>
  </div>
</div>