/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* 共通レイアウト ================================ */
/*
 *= require font-awesome
 */

 *{
	box-sizing:border-box;
}

body {
  color: #2d3133;
  background-color: #3ecdc6;
  margin: 0;
  min-height: 1vh;
}

@media(max-width:700px){
	.herder-logo{width:30%;}
	.header-logo a{font-size:5px;}
	.herder-logo li{font-size:5px;}
}

.main {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f5f8fa;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

/* ヘッダー ================================ */
header {
  height: 60px;
  position: absolute;
  z-index: 1;
  width: 100%;
  opacity:0.8;
}

.header-logo{
  float: left;
  padding-left: 20px;

}

.header-logo li{
  float: left;
  line-height: 50px;
  font-size: 24px;
  color: white;
  padding:0 15px;
  border:solid 1px;
  transition:all 0.5s;
  border-radius:4px;
}

.header-logo li:hover{
  background-color: rgba(255,255,255,0.3);
}

.header-logo li:active{
  background-color:rgba(255,255,255,0);
}


.header-logo a{
  color: white;
  font-weight:900px;
  font-size: 24px;
}


.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 50px;
  font-size: 13px;
  color: white;
  padding:0 15px;
  transition:all 0.5s;
  border-radius:4px;

}

.header-menus li:hover{
  background-color: rgba(255,255,255,0.3);
}

.header-menus li:active{
  background-color:rgba(255,255,255,0);
}


.header-menus a {
  float: left;
  font-size: 13px;
  color: white;
}


